{% extends "admin/base.html" %}

{% block title %}
    {{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            Nexsafe Admin
        </a>
    </h1>
{% endblock %}

{% block usertools %}
    <div style="display: flex; align-items: center; gap: 15px;">
        <a href="/" style="
            background-color: #198754; 
            color: white; 
            padding: 6px 15px; 
            border-radius: 20px; 
            text-decoration: none; 
            font-weight: bold; 
            font-size: 12px;
            text-transform: uppercase;">
            &larr; Back to App
        </a>
        
        {{ block.super }}
    </div>
{% endblock %}